<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>NewUser SignIn</title>
</head>
<body>
<h1>SignIn</h1>

<form action="" th:action="@{/user}" th:object="${newUser}" method="post">
  <p>Surname:</p>
  <input type="text" th:field="*{surname}">
  <p>Last Name:</p>
  <input type="text" th:field="*{lastName}">
  <p> Username :</p>
  <input type="text" th:field="*{username}">
  <p>User Ranking:</p>
  <input type="number" th:field="*{userRanking}">
  <p>Email:</p>
  <input type="email" th:field="*{mail}">
  <p>Password:</p>
  <input type="password" th:field="*{password}">
  <input type="submit">
</form>


<div th:each="user:${userList}">
  <p th:text="${user.surname}"></p>
  <p th:text="${user.lastName}"></p>
  <p th:text="${user.userRanking}"></p>
  <p th:text="${user.mail}"></p>
  <p th:text="${user.password}"></p>


</div>
</body>
</html>